<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>To do list</title>
</head>
<body>
<h2>Add to todo list</h2>
<form action="#" th:action="@{/add}" th:object="${addTodo}" method="post">
    <label for="addContent">Content</label>
    <input type="text" th:field="*{content}" id="addContent" placeholder="Content"/>
    <input type="submit" value="Add"/>
</form>
<table border="1">
    <thead>
    <tr>
        <th> What you need to do?</th>
        <th style="text-align: center"> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list.isEmpty()}">
        <td colspan="2"> No Books Available</td>
    </tr>
    <tr th:each="todo : ${list}">
        <td><span th:text="${todo.getContent()}"></span></td>
        <!--        th:href="@{/edit?id={id}(id=${todo.getId()})}"-->
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>&nbsp;
            <a th:href="@{/delete?id={id}(id=${todo.getId()})}"><button type="button" class="btn btn-primary" >Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/update}" th:object="${editTodo}" method="post">
                    <label>Content</label>
                    <input id="idContent" name="id" type="hidden" placeholder=${content}/>
                    <input type="submit" value="Edit"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("#exampleModal").modal("hide");
    function Values(ID,Content) {
        $("#idContent").val(ID);
        $("#content").val(Content);
    }
</script>
</body>

</html>
